# OS / editor
.DS_Store
.vscode/
.idea/

# Python
.venv/
__pycache__/
*.pyc

# Excel temp files
~$*.xlsx

# Power BI
*.pbix

# Generated excel
data_clean/*.xlsx

.ipynb_checkpoints/
data_clean/*.xlsx
